<article class="product-card">
  <a href="{% url 'product_detail' product.store.slug product.slug %}" class="card-image-wrap">
    {% if product.image %}<img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-image" loading="lazy">{% else %}<div class="image-placeholder">✿</div>{% endif %}
    {% if product.promotional_price %}<span class="badge-float">Oferta</span>{% endif %}
  </a>
  <div class="product-card-body"><span class="eyebrow">{{ product.store.name }}</span><h3><a href="{% url 'product_detail' product.store.slug product.slug %}">{{ product.name }}</a></h3><p>{{ product.short_description }}</p><div class="price-row"><div>{% if product.promotional_price %}<small>R$ {{ product.price }}</small>{% endif %}<strong>R$ {{ product.current_price }}</strong></div><a class="round-arrow" href="{% url 'product_detail' product.store.slug product.slug %}" aria-label="Ver {{ product.name }}">→</a></div></div>
</article>
